footer{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: auto;
    text-align: center;
    padding: 50px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(2, 74, 2);
}