:root {
    font-family:Verdana, Geneva, Tahoma;
}

.inscriptionGroup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: green;
}
#cadreExtInscription{
    width:30%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
#cadreExtInscription h1, p{
    text-align: center;
    padding-bottom: 20px;
}

#cadreForm{
    width: auto;
    height: 100%;
    font-family:Verdana, Geneva, Tahoma sans-serif;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(2, 66, 19, 0.784);
}
form{
    padding: 5px;
}
form input{
    width:  100%;
    height: 65px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}
form .radio{
    height: 30px;
}

#cadreNoms{
    width: 100%;
    display: inline-block;
    padding: 10px;
}
#uidnote{
    position: relative;
    background-color: black;
    padding: 10px;
    margin-top: 5px;
    border-radius:10px;
    text-align: start;
    font-size: small;
    display: none;
}
#pwdnote{
    background-color: black;
    padding: 10px;
    margin-top: 5px;
    border-radius:10px;
    text-align: start;
    font-size: small;
}
#confirmnote{
    background-color: black;
    padding: 10px;
    margin-top: 5px;
    border-radius:10px;
    text-align: start;
    font-size: small;
}

.genreGroup{
    display: flex;
    margin: 20px;
   
}
.passGroup{
    width: 100%;
    display: inline-block;
    padding: 10px;
}

#btnGroup{
    text-align: center;
}

.instruction{
    color: red;
    font-size: 0.5rem;
    margin-top: 5px;
}
.offscreen{
    z-index: 1;
}
.emailFocus{
    visibility: visible;
}
.validName{
    color: green;
}
.userFocus{
    visibility: visible;
}
.validLastName{
    color: green;
}
.validEmail{
    color: green;
}
.validPassword{
    color: green;
}
.validConfirmPassword{
    color: green;
}

.valid{
    margin-left: 2px;
    color: green;
    display: inline;
    visibility: visible;
}

.hide {
    display: none;
}
.invalid {
    margin-left: 2px;
    color: red;
    display: inline;
}
span {
    color: red;
}
.true{
    visibility: visible;
}
.false{
    visibility: hidden;
}

